body {
    font-family: 'Arial', sans-serif;
    background-color: #0c376f;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.auth-container,
.dashboard,
.inventory-container {
    width: 80%;
    max-width: 700px;
    padding: 20px;
    background-color: #e8edf1;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: bold;
    color: #555;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
}

input:focus {
    border-color: #03263d;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #0f4569;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0f4569;
    transform: translateY(-2px);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #0f4569;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

td {
    background-color: #f9f9f9;
}

td:nth-child(even) {
    background-color: #f3f6fa;
}

.graphs {
    margin-top: 30px;
}

.graphs h3 {
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

canvas {
    max-width: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.product-list h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .inventory-container {
        width: 95%;
        padding: 10px;
    }

    th,
    td {
        font-size: 12px;
    }

    button {
        font-size: 14px;
    }
}